<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repositories -->
    <preference for="Ronald2Wing\Forum\Api\ForumRepositoryInterface" type="Ronald2Wing\Forum\Model\ForumRepository"/>
    <preference for="Ronald2Wing\Forum\Api\TopicRepositoryInterface" type="Ronald2Wing\Forum\Model\TopicRepository"/>
    <preference for="Ronald2Wing\Forum\Api\PostRepositoryInterface" type="Ronald2Wing\Forum\Model\PostRepository"/>
    <preference for="Ronald2Wing\Forum\Api\ModeratorRepositoryInterface" type="Ronald2Wing\Forum\Model\ModeratorRepository"/>

    <!-- Admin Grid: Forum -->
    <virtualType name="ForumGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ForumGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Ronald2Wing\Forum\Model\ResourceModel\Forum\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object">ForumGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Ronald2Wing\Forum\Model\ResourceModel\Forum\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">forum_topic</argument>
            <argument name="eventPrefix" xsi:type="string">forum_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">forum_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ronald2Wing\Forum\Model\ResourceModel\Forum</argument>
        </arguments>
    </type>

    <!-- Admin Grid: Topic -->
    <virtualType name="TopicGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TopicGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Ronald2Wing\Forum\Model\ResourceModel\Topic\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object">TopicGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Ronald2Wing\Forum\Model\ResourceModel\Topic\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">forum_topic</argument>
            <argument name="eventPrefix" xsi:type="string">topic_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">topic_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ronald2Wing\Forum\Model\ResourceModel\Topic</argument>
        </arguments>
    </type>

    <!-- Admin Grid: Post -->
    <virtualType name="PostGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PostGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Ronald2Wing\Forum\Model\ResourceModel\Post\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object">PostGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Ronald2Wing\Forum\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">forum_post</argument>
            <argument name="eventPrefix" xsi:type="string">post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">post_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ronald2Wing\Forum\Model\ResourceModel\Post</argument>
        </arguments>
    </type>

    <!-- Admin Grid: Moderator -->
    <virtualType name="ModeratorGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ModeratorGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Ronald2Wing\Forum\Model\ResourceModel\Moderator\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object">ModeratorGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Ronald2Wing\Forum\Model\ResourceModel\Moderator\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">forum_moderator</argument>
            <argument name="eventPrefix" xsi:type="string">moderator_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">moderator_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ronald2Wing\Forum\Model\ResourceModel\Moderator</argument>
        </arguments>
    </type>
</config>
