<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ronald2wing_forum_topic_save_after">
        <observer name="ronald2wing_forum_topic_save_after" instance="Ronald2Wing\Forum\Observer\TopicSaveAfter" />
    </event>
    <event name="ronald2wing_forum_post_save_after">
        <observer name="ronald2wing_forum_post_save_after" instance="Ronald2Wing\Forum\Observer\PostSaveAfter" />
    </event>
</config>
